<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading">Add Glasses</div>
      <div class="panel-body">
	<reims-input-form></reims-input-form>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading">State of Addition</div>
      <div class="panel-body">
	<table class="table table-condensed table-striped table-hover">
	  <thead reims-result-header></thead>
	  <tbody>
	    <tr reims-result-row ng-repeat="result in unfiledRecords"></tr>
	  </tbody>
	</table>
      </div>
    </div>
  </div>
</div>
