<form novalidate class="form-horizontal">
  <div class="row">
    <div class="col-sm-4">
      <div class="form-group">
	<label for="sku" class="col-sm-2 control-label">SKU</label>
	<div class="col-sm-10">
	  <input class="form-control" id="sku" placeholder="SKU" ng-model="searchTerms.sku" required>
	</div>
      </div>
      <div class="form-group">
	<label for="lenseType" class="col-sm-2 control-label">Type</label>
	<div class="col-sm-10">
	  <select class="form-control" id="lenseType" ng-model="searchTerms.type">
	    <option value="S">Single</option>
	    <option value="B">Bifocal</option>
	    <option value="R">Reader</option>
	  </select>
	</div>
      </div>
      <div class="form-group">
	<label for="gender" class="col-sm-2 control-label">Gender</label>
	<div class="col-sm-10">
	  <select class="form-control" id="gender" ng-model="searchTerms.gender">
	    <option value="M">Male</option>
	    <option value="F">Female</option>
	    <option value="U">Unisex</option>
	  </select>
	</div>
      </div>
      <div class="form-group">
	<label for="size" class="col-sm-2 control-label">Size</label>
	<div class="col-sm-10">
	  <select class="form-control" id="size" ng-model="searchTerms.size">
	    <option value="S">Small</option>
	    <option value="M">Medium</option>
	    <option value="L">Large</option>
	    <option value="C">Child</option>	
	  </select>
	</div>
      </div>
      <div class="form-group">
	<label for="tint" class="col-sm-2 control-label">Tint</label>
	<div class="col-sm-10">
	  <select class="form-control" id="tint" ng-model="searchTerms.tint">
	    <option value="N">None</option>
	    <option value="D">Dark</option>
	    <option value="L">Light</option>
	  </select>
	</div>
      </div>
      <div class="form-group">
	<label for="material" class="col-sm-2 control-label">Material</label>
	<div class="col-sm-10">
	  <select class="form-control" id="material" ng-model="searchTerms.material">
	    <option value="M">Metal</option>
	    <option value="P">Plastic</option>
	  </select>
	</div>
      </div>
      <div class="form-group">
	<label for="enterdate" class="col-sm-2 control-label">Date of Entry</label>
	<div class="col-sm-10">
	  <input class="form-control" type="data" id="enterdate" ng-model="searchTerms.enterdate">		  
	</div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="panel panel-default">
	<div class="panel-heading">OD</div>
	<div class="panel-body">
	  <div class="form-group">
	    <label for="odsphere" class="col-sm-2 control-label">Sphere</label>
	    <div class="col-sm-10">
	      <input class="form-control" type="number" id="odsphere" ng-model="searchTerms.odsphere">
	    </div>
	  </div>
	  <div class="form-group">
	    <label for="odcylinder" class="col-sm-2 control-label">Cylinder</label>
	    <div class="col-sm-10">
	      <input class="form-control" type="number" id="odcylinder" ng-model="searchTerms.odcylinder">
	    </div>
	  </div>
	  <div class="form-group">
	    <label for="odaxis" class="col-sm-2 control-label">Axis</label>
	    <div class="col-sm-10">
	      <input class="form-control" type="number" id="odaxis" ng-model="searchTerms.odaxis">
	    </div>
	  </div>
	  <div class="form-group">
	    <label for="odadd" class="col-sm-2 control-label">Add</label>
	    <div class="col-sm-10">
	      <input class="form-control" type="number" id="odadd" ng-model="searchTerms.odadd">
	    </div>
	  </div>
	</div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="panel panel-default">
	<div class="panel-heading">OS</div>
	<div class="panel-body">
	  <div class="form-group">
	    <label for="ossphere" class="col-sm-2 control-label">Sphere</label>
	    <div class="col-sm-10">
	      <input class="form-control" type="number" id="ossphere" ng-model="searchTerms.ossphere">
	    </div>
	  </div>
	  <div class="form-group">
	    <label for="oscylinder" class="col-sm-2 control-label">Cylinder</label>
	    <div class="col-sm-10">
	      <input class="form-control" type="number" id="oscylinder" ng-model="searchTerms.oscylinder">
	    </div>
	  </div>
	  <div class="form-group">
	    <label for="osaxis" class="col-sm-2 control-label">Axis</label>
	    <div class="col-sm-10">
	      <input class="form-control" type="number" id="osaxis" ng-model="searchTerms.osaxis">
	    </div>
	  </div>
	  <div class="form-group">
	    <label for="osadd" class="col-sm-2 control-label">Add</label>
	    <div class="col-sm-10">
	      <input class="form-control" type="number" id="osadd" ng-model="searchTerms.osadd">
	    </div>
	  </div>
	</div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="form-group">
      <div class="col-sm-offset-9 col-sm-2">
	<button type="submit" ng-click="onSubmit.func(searchTerms)" class="btn btn-primary btn-block">{{onSubmit.name}}</button>
      </div>
    </div>
  </div>
</form>
