<form novalidate class="form-horizontal" name="eyeglassInput">
  <div class="row">
    <div class="col-sm-4">
      <div class="form-group">
	<label for="sku" class="col-sm-3 control-label">SKU</label>
	<div class="col-sm-9">
	  <input class="form-control" id="sku" name="SKU" placeholder="SKU" ng-model="searchTerms.sku">
	</div>
      </div>
      <div class="form-group">
	<label for="lenseType" class="col-sm-3 control-label">Type</label>
	<div class="col-sm-9">
	  <select class="form-control" name="Type" id="lenseType" ng-model="searchTerms.type" required>
	    <option value="S">Single</option>
	    <option value="B">Bifocal</option>
	    <option value="R">Reader</option>
	  </select>
	</div>
      </div>
      <div class="form-group">
	<label for="gender" class="col-sm-3 control-label">Gender</label>
	<div class="col-sm-9">
	  <select class="form-control" id="gender" name="Gender" ng-model="searchTerms.gender" required>
	    <option value="M">Male</option>
	    <option value="F">Female</option>
	    <option value="U">Unisex</option>
	  </select>
	</div>
      </div>
      <div class="form-group">
	<label for="size" class="col-sm-3 control-label">Size</label>
	<div class="col-sm-9">
	  <select class="form-control" id="size" name="Size" ng-model="searchTerms.size" required>
	    <option value="S">Small</option>
	    <option value="M">Medium</option>
	    <option value="L">Large</option>
	    <option value="C">Child</option>	
	  </select>
	</div>
      </div>
      <div class="form-group">
	<label for="tint" class="col-sm-3 control-label">Tint</label>
	<div class="col-sm-9">
	  <select class="form-control" id="tint" name="Tint" ng-model="searchTerms.tint" required>
	    <option value="N">None</option>
	    <option value="D">Dark</option>
	    <option value="L">Light</option>
	  </select>
	</div>
      </div>
      <div class="form-group">
	<label for="material" class="col-sm-3 control-label">Material</label>
	<div class="col-sm-9">
	  <select class="form-control" id="material" name="Material" ng-model="searchTerms.material" required>
	    <option value="M">Metal</option>
	    <option value="P">Plastic</option>
	  </select>
	</div>
      </div>
      <div class="form-group">
	<label for="enterdate" class="col-sm-3 control-label">Date of Entry</label>
	<div class="col-sm-9">
	  <input class="form-control" type="data" id="enterdate" name="Date of Entry" ng-model="searchTerms.enterdate" required>
	</div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="panel panel-default">
	<div class="panel-heading">OD</div>
	<div class="panel-body">
	  <div class="form-group">
	    <label for="odsphere" class="col-sm-3 control-label">Sphere</label>
	    <div class="col-sm-9">
	      <input class="form-control" type="number" id="odsphere" name="OD Sphere" ng-model="searchTerms.odsphere" required>
	    </div>
	  </div>
	  <div class="form-group">
	    <label for="odcylinder" class="col-sm-3 control-label">Cylinder</label>
	    <div class="col-sm-9">
	      <input class="form-control" type="number" id="odcylinder" name="OD Cylinder" ng-model="searchTerms.odcylinder" required>
	    </div>
	  </div>
	  <div class="form-group">
	    <label for="odaxis" class="col-sm-3 control-label">Axis</label>
	    <div class="col-sm-9">
	      <input class="form-control" type="number" id="odaxis" name="OD Axis" ng-model="searchTerms.odaxis" required>
	    </div>
	  </div>
	  <div class="form-group">
	    <label for="odadd" class="col-sm-3 control-label">Add</label>
	    <div class="col-sm-9">
	      <input class="form-control" type="number" id="odadd" name="OD Add" ng-model="searchTerms.odadd" required>
	    </div>
	  </div>
	</div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="panel panel-default">
	<div class="panel-heading">OS</div>
	<div class="panel-body">
	  <div class="form-group">
	    <label for="ossphere" class="col-sm-3 control-label">Sphere</label>
	    <div class="col-sm-9">
	      <input class="form-control" type="number" id="ossphere" name="OS Sphere" ng-model="searchTerms.ossphere" required>
	    </div>
	  </div>
	  <div class="form-group">
	    <label for="oscylinder" class="col-sm-3 control-label">Cylinder</label>
	    <div class="col-sm-9">
	      <input class="form-control" type="number" id="oscylinder" name="OS Cylinder" ng-model="searchTerms.oscylinder" required>
	    </div>
	  </div>
	  <div class="form-group">
	    <label for="osaxis" class="col-sm-3 control-label">Axis</label>
	    <div class="col-sm-9">
	      <input class="form-control" type="number" id="osaxis" name="OS Axis" ng-model="searchTerms.osaxis" required>
	    </div>
	  </div>
	  <div class="form-group">
	    <label for="osadd" class="col-sm-3 control-label">Add</label>
	    <div class="col-sm-9">
	      <input class="form-control" type="number" id="osadd" name="OS Add" ng-model="searchTerms.osadd" required>
	    </div>
	  </div>
	</div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="form-group">
      <div class="col-sm-offset-9 col-sm-2">
	<button type="submit" ng-click="onSubmit.func(eyeglassInput.$valid, eyeglassInput.$error, searchTerms)" class="btn btn-primary btn-block">{{onSubmit.name}}</button>
      </div>
    </div>
  </div>
</form>
