<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" aria-expanded="false" aria-controls="navbar" ng-click="isCollapsed = !isCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand active" href="#home">REIMS</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse" uib-collapse="isCollapsed" ng-controller="SyncCtrl">
      <ul class="nav navbar-nav">
        <li><a ng-click="collapse()" href="#search">Search</a></li>
        <li><a ng-click="collapse()" href="#add">Add</a></li>
        <li><a ng-click="collapse()" href="#help">Help</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
	<li><a ng-click="collapse()" href="#sync">Database Sync: {{syncState}}</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
