<td>1</td> <!-- score -->
<td>{{result.doc.sku}}</td>
<td>{{result.doc.type | eyeglassTypeFilter}}</td>
<td>{{result.doc.gender | eyeglassGenderFilter}}</td>
<td>{{result.doc.size | eyeglassSizeFilter}}</td>
<td>{{result.doc.tint | eyeglassTintFilter}}</td>
<td>{{result.doc.material | eyeglassMaterialFilter}}</td>
<td>{{result.doc.odsphere}}</td>
<td>{{result.doc.odcylinder}}</td>
<td>{{result.doc.odaxis}}</td>
<td>{{result.doc.odadd}}</td>
<td>{{result.doc.ossphere}}</td>
<td>{{result.doc.oscylinder}}</td>
<td>{{result.doc.osaxis}}</td>
<td>{{result.doc.osadd}}</td>-->
