<div class="row">
  SKU: <input ng-model="sku">
</div>
<div class="row">
  Type: <select ng-model="type">
    <option value="single">Single</option>
    <option value="bifocal">Bifocal</option>
    <option value="reader">Reader</option>
  </select>
</div>
<div class="row">
  Gender: <select ng-model="gender">
    <option value="male">Male</option>
    <option value="female">Female</option>
    <option value="unisex">Unisex</option>
  </select>
</div>
<div class="row">
  Size: <select ng-model="size">
    <option value="small">Small</option>
    <option value="medium">Medium</option>
    <option value="large">Large</option>
    <option value="child">Child</option>	
  </select>
</div>
<div class="row">
  Tint: <select ng-model="tint">
    <option value="none">None</option>
    <option value="dark">Dark</option>
    <option value="light">Light</option>
  </select>
</div>
<div class="row">
  Material: <select ng-model="material">
    <option value="metal">Metal</option>
    <option value="plastic">Plastic</option>
  </select>
</div>
</div>
