<div class="col-sm-6">
<form novalidate class="form-horizontal">
  <div class="form-group">
    <label for="sku" class="col-sm-2 control-label">SKU</label>
    <div class="col-sm-10"><input class="form-control" id="sku" placeholder="SKU" ng-model="searchTerms.sku" required></div>
  </div>
  <div class="form-group">
    <label for="lenseType" class="col-sm-2 control-label">Type</label>
    <div class="col-sm-10">
      <select class="form-control" id="lenseType" ng-model="searchTerms.lenseType">
	<option value="single">Single</option>
	<option value="bifocal">Bifocal</option>
	<option value="reader">Reader</option>
      </select>
    </div>
  </div>
  <div class="form-group">
    <label for="gender" class="col-sm-2 control-label">Gender</label>
    <div class="col-sm-10">
      <select class="form-control" id="gender" ng-model="searchTerms.gender">
	<option value="M">Male</option>
	<option value="F">Female</option>
	<option value="U">Unisex</option>
      </select>
    </div>
  </div>
  <div class="form-group">
    <label for="size" class="col-sm-2 control-label">Size</label>
    <div class="col-sm-10">
      <select class="form-control" id="size" ng-model="searchTerms.size">
	<option value="small">Small</option>
	<option value="medium">Medium</option>
	<option value="large">Large</option>
	<option value="child">Child</option>	
      </select>
    </div>
  </div>
  <div class="form-group">
    <label for="tint" class="col-sm-2 control-label">Tint</label>
    <div class="col-sm-10">
      <select class="form-control" id="tint" ng-model="searchTerms.tint">
	<option value="none">None</option>
	<option value="dark">Dark</option>
	<option value="light">Light</option>
      </select>
    </div>
  </div>
  <div class="form-group">
    <label for="material" class="col-sm-2 control-label">Material</label>
    <div class="col-sm-10">
      <select class="form-control" id="material" ng-model="searchTerms.material">
	<option value="M">Metal</option>
	<option value="P">Plastic</option>
      </select>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" ng-click="search(searchTerms)" class="btn btn-primary">Search Inventory</button>
    </div>
  </div>
</form>
</div>
<div class="col-sm-6">
  <div class="panel panel-default">
    <div class="panel-heading">Exact Match Results</div>
    <div class="panel-body">{{searchTerms}}</div>
    <table st-table="allResultRowsDisplayed" st-safe-src="allResultRows" class="table table-condensed table-striped">
      <thead>
	<tr>
	  <th st-sort="doc.sku">Sku</th>
	  <th>Gender</th>	  
	  <th>Material</th>
	</tr>
      </thead>
      <tbody>
	<tr ng-repeat="result in allResultRowsDisplayed | quickSearchFilter">
	  <td>{{result.doc.sku}}</td>
	  <td>{{result.doc.gender}}</td>
 	  <td>{{result.doc.material}}</td>
	</tr>
      </tbody>
      <tfoot>
	<tr>
	  <td colspan="5" class="text-center">
	    <div st-pagination="" st-displayed-pages="9"></div>
	  </td>
	</tr>
      </tfoot>
    </table>
  </div>
</div>
