<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading">Search Values</div>
      <div class="panel-body">
	<reims-input-form></reims-input-form>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading">
	<div class="row">
	  <div class="col-sm-4">Search Results</div>
	  <div class="col-sm-4">
	    <div class="btn-group btn-group-justified">
	      <div class="btn-group">
		<button class="btn btn-default" type="button" ng-click="Ctrl.showQuick()">Quick</button>
	      </div>
	      <div class="btn-group">
		<button class="btn btn-default" type="button" ng-click="Ctrl.showFull()">Full</button>
	      </div>
	    </div>
	  </div>
	  <div class="col-sm-4">
	    <div class="btn-group pull-right" role="group">
	      <button class="btn btn-primary" type="button" ng-click="Ctrl.dispense(selectedRow)">Dispense</button>
	      <button class="btn btn-info" type="button" ng-click="Ctrl.update(selectedRow)">Update</button>
	      <button class="btn btn-danger" type="button" ng-click="Ctrl.markAsMissing(selectedRow)">Missing</button>
	    </div>
	  </div>
	</div>
      </div>
      <table class="table table-condensed table-striped table-hover">
	<thead reims-result-header></thead>
	<tbody ng-hide="displayFull">
	  <tr reims-result-row ng-repeat="result in allResultRows | filter:{doc: searchTerms} | limitTo: 20" ng-click="Ctrl.selectRow(result)" ng-class="{active: result.doc.sku === selectedRow.doc.sku}"></tr>
	</tbody>
	<tbody ng-hide="!displayFull">
	  <tr ng-repeat="result in fullSearchResults">
	    <td>{{result.doc.sku}}</td>
	    <td>foo</td>
	  </tr>
	</tbody>
      </table>
    </div>
  </div>
</div>
